.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* In JF.html the .jpg file displayed is set to width="480".        */
  /* Set that same value here so the .jpg image is centered properly. */
  width: 480px;
}

.headerTitle {
  style=color: #00FF;
  text-align: center;
/*  border: solid;  */
}
