.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* In JF.html the file named Joe_F--Somewhere_Out_There.jpg is set to width="480". */
  /* Set that same value here so the .jpg image is centered properly.                */
  width: 480px;
}

.h4_padding {
  padding-bottom: 70px;
}
