.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* In JF.html the .jpg file displayed is set to width="480".        */
  /* Set that same value here so the .jpg image is centered properly. */
  width: 480px;
}

.headerTitle {
  text-align: center;
/*  border: solid;  */
}

h1 {
  background-color: black;
  color: yellow;
  font-size: 70px;
}

h3 {
  background-color: black;
  color: green;
  font-size: 20px;
}
